
@import "./form.scss";

.container{
  min-height: 100vh;
}




input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder {
  color: #d3d4d9;
}


.safe-area-bottom{
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}
.van-index-bar{
  .van-index-bar__sidebar{
    color: #ccc;
  }
}
.van-index-anchor{

}

.van-index-anchor--sticky,
.van-index-anchor{
  background: #e6e6e6;
  color: #414141;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
}
.van-hairline--bottom::after{
  display: none;
}

.van-cell__title.van-field__label{
  white-space: nowrap;
}

.van-nav-bar{
  border-bottom: 1px solid #ccc;
  .van-icon{
    color: #000;
  }
}


